.tabs-savage{
	height: 80vh;
}
.tab a{
	color:#ffffff;

}

img {
  
}

#articles-display-loader{
	display:none;
}

.nav-border-bott{
	border-bottom: #0097a7 solid 2px;
	color:#000000;
}

.watu-text{
	color: #7b7777;
}

nav .brand-logo {
    position: absolute;
    color: #7b7777;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
}

#loading_screen_div{
	display: none;
}